body
{
  /* Typography */
  font-family: 'Nunito', sans-serif;

  /* Visual */
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
#main{
  /* Model */
  display: block;

  /* Visual */
  margin: 0% 20% 0% 20%;
  background-color: #D9CB9E;
  border-radius: 25px;
  padding: 2.5%;
  box-shadow: 2px 5px 5px;
}
#img-div{
  /* Model */
  display: block;

  /* Visual */
  padding: 2.5% 0% 2.5% 0%;
  border-radius: 25px;
  background-color: #374140;
  box-shadow: 5px 5px 5px;
}
#image{
  /* Model */
  display: block;
  width: 90%;
  height: 90%;

  /* Visual */
  border-color: #D9CB9E;
  border-style: outset;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
#title{
  /* Typography */
  font-size: 3em;
  color: #DC3522;
  text-align: center;
  /* Model */
  display: block;
  
  /* Visual */
  text-shadow: 0 0 5px #2A2C2B, 0 0 10px #2A2C2B, 0 0 15px #2A2C2B, 0 0 20px #2A2C2B,
      0 0 35px #2A2C2B, 0 0 40px #2A2C2B, 0 0 50px #2A2C2B, 0 0 75px #2A2C2B;
  animation: rainbow2 18s ease infinite;
}
@keyframes rainbow2{
  0%{color: orange;}	
10%{color: purple;}	
20%{color: red;}
30%{color: CadetBlue;}
40%{color: yellow;}
50%{color: coral;}
60%{color: green;}
70%{color: cyan;}
80%{color: DeepPink;}
90%{color: DodgerBlue;}
100%{color: orange;}
}
#img-caption{
  /* Typography */
  text-align: center;
  color: #BDC3C7;
  font-weight: bold;

  /* Model */
  display: block;
}
#tribute-link{
  /* Typography */
  text-align: center;
  color: #DC3522;
  font-weight: bolder;

  /* Model */
  display: block;

  /* Visual */
  text-shadow: 0 0 5px #DC3522;
  animation: rainbow2 18s ease infinite;
}
q{
  /* Typography */
  font-weight: bolder;
}